<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name=" Cache-Control" value="max-age=86400" />
                <add name="Vary" value="Accept-Encoding" />
                <add name="Content-Type" value="text/html; charset=UTF-8" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
